header{
  background-color: #4f90ea;
}
header, footer {

  background-color: red;
}

#contents {
  width: 80%;
  margin: 40px auto;
}

#container {
background-color: red;
display: flex;
}

nav {
  width: 20%;
  background-color: #aeb3ba;
}

main {
  width: 80%;
  background-color: #4f90ea;
}
